@model List<Post>
@{
    ViewData["Title"] = "Index";
}
<div class="w-full h-full flex flex-col">

    <h1>Index - Post</h1>
    <p>
        <button class="btn-primary">
            <a asp-action="Create">Create New</a>
        </button>
    </p>
    <div class="box-table overflow-auto flex-1">
        @if (Model.Count() == 0)
        {
            <p class="text-center">Không có dữ liệu!</p>
        }
        else
        {
            <table style="width:100%">
                <tr>
                    <th style="min-width: 300px">Title</th>
                    <th style="min-width: 150px">Image</th>
                    <th>Category Name</th>
                    <th class="text-center">View Count</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="title"><a href="/Posts/Details/@item.Id">@item.Title</a></td>
                        <td>
                            <img class="box-img" src="@item.Image" />
                        </td>
                        <td>@item?.Cate?.Name</td>
                        <td class="text-center">
                            @if (item.ViewCount == null)
                            {
                               <span>0</span>
                            }
                            else {
                                <span>@item.ViewCount</span>
                            }
                        </td>
                        <td>@item.CreatedDate.ToCustomFormat()</td>
                        <td>@item.UpdatedDate.ToCustomFormat()</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
